/* @media mobiles*/

@media screen and (max-width: 667px) {
    /*le body */
    body {
        width: 100%;

    }
    /*le header */

    /*Zone de Recherche le mot est caché 
    et l'icone apparaît*/
    .element-motRecherche--hidden {
        display: none;
    }
    .block__btnRecherche{
        width: 50px;

    }
    .element-iconRecherche {
        width: 100%;
        margin-left: 10px;
    }
}

@media screen and (min-width: 667px) and (max-width: 768px) {
      /*Zone de Recherche le mot est caché 
    et l'icone apparaît*/
    .element-motRecherche--hidden {
        display: none;
    }
    .block__btnRecherche{
        width: 50px;

    }
    .element-iconRecherche {
        width: 100%;
        margin-left: 10px;
    }
}
/* @media Tablettes */

@media screen and (min-width: 768px) and (max-width: 1240px) {
      /*Zone de Recherche le mot est visible 
    et l'icone caché*/
    #element-iconRecherche--hidden {
        display: none;
    }
    .block__btnRecherche{
        width: 100px;
    }
    .element-motRecherche {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
/* @media Tablette & petit pc */
@media screen and (min-width: 1240px) and (max-width: 1600px) {
      /*Zone de Recherche le mot est visible 
    et l'icone caché*/
    #element-iconRecherche--hidden {
        display: none;
    }
    .block__btnRecherche{
        width: 100px;
    }
    .element-motRecherche {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
/* @media Grand pc */

@media screen and (min-width: 1600px) {
    /* Zone header */  
    /*Zone de Recherche le mot est visible 
    et l'icone caché*/
    .container__Recherche{
        margin-bottom: 20px;
    }
    #element-iconRecherche--hidden {
        display: none;
    }
    .block__btnRecherche{
        width: 100px;
    }
    .element-motRecherche {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    /* zone filtres mode ligne */
    .container__filtres{
        margin-left: 20px;
        height: 50%;
    }
    .container__filtres, 
    .block__filtreRomantiqueAnimaux {
        display: flex;
        flex-direction: row;
    }
    .block__filtreEcoFamille,
    .block__filtreRomantiqueAnimaux {
        margin-top: 10px;
    }
    .block__filtreEcoFamille {
        margin-left: 30px;
    }
    .block__titreFiltres{
        margin-top: 20px;
    }
    /* le container principal */
    .container__main {
        width: 100%;
        margin-top : -20px;
    }
    .container__hebergements {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }
    /* les populaires */
    .container__populaires {
        flex: 1;
        margin-left: 20px;
        border-radius: 15px;
        padding: 0 50px 0 50px;
        
    }
    .block__populaires {
        margin-bottom:20px;
    }
    /* les hebergements */
    .block__hebergements {
        flex: 2;
        flex-direction: column;
        margin-right: 20px;
        background-color: #f2f2f2;
        border-radius: 15px;
        padding: 0 50px 0 50px;
    }
    #block1__hebergements,
    #block2__hebergements {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .block__label-hebergement {
    
    }

    /* Les activites */
    .container__activites {
        width: 100%;

    }
    .block-container__Activites {
        display: flex;
        flex-direction: row;
    }
    .block__activites {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 10px;
    }
    .block__labelActivites {
        width: 50%;
        height: cover;
    }
    .block__labelActivites2356 {
        width: 50%;
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #imgActivites1, #imgActivites4 {
        height: 480px;
    }
    /*le footer */
    .Container__down {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .container__listFooter {
        width: 75%;
        display: flex;
        justify-content: space-between;
        margin-left: 20px;
    }

    footer h4 {
        margin-bottom: 30px;    
    }
    footer ul li {
        margin-bottom: 20px;
    }
}
