/* @media mobiles*/

@media screen and (max-width: 667px) {
    /*le body */
    body {
        width: 100%;

    }
    /*le header */

    /*Zone de Recherche le mot est caché 
    et l'icone apparaît*/
    .element-motRecherche--hidden {
        display: none;
    }
    .block__btnRecherche{
        width: 50px;

    }
    .element-iconRecherche {
        width: 100%;
        margin-left: 10px;
    }
}

@media screen and (min-width: 667px) and (max-width: 768px) {
      /*Zone de Recherche le mot est caché 
    et l'icone apparaît*/
    .element-motRecherche--hidden {
        display: none;
    }
    .block__btnRecherche{
        width: 50px;

    }
    .element-iconRecherche {
        width: 100%;
        margin-left: 10px;
    }
}
/* @media Tablettes */

@media screen and (min-width: 768px) and (max-width: 1240px) {
      /*Zone de Recherche le mot est visible 
    et l'icone caché*/
    #element-iconRecherche--hidden {
        display: none;
    }
    .block__btnRecherche{
        width: 100px;
    }
    .element-motRecherche {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
/* @media Tablette & petit pc */
@media screen and (min-width: 1240px) and (max-width: 1600px) {
      /*Zone de Recherche le mot est visible 
    et l'icone caché*/
    #element-iconRecherche--hidden {
        display: none;
    }
    .block__btnRecherche{
        width: 100px;
    }
    .element-motRecherche {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
/* @media Grand pc */

@media screen and (min-width: 1600px) {
      /*Zone de Recherche le mot est visible 
    et l'icone caché*/
    #element-iconRecherche--hidden {
        display: none;
    }
    .block__btnRecherche{
        width: 100px;
    }
    .element-motRecherche {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .container__main {
        width: 100%;
    }
    .container__hebergements {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }
    .container__hebergements > 
    .container__populaires {

    }
    .container__populaires {
        flex: 1;
        margin-left: 20px;
        border-radius: 15px;
        padding: 0 50px 0 50px;
        
    }
    .block__populaires {
        margin-bottom:20px;
    }
    .block__hebergements {
        flex: 2;
        flex-direction: column;
        margin-right: 20px;
        background-color: #f2f2f2;
        border-radius: 15px;
        padding: 0 50px 0 50px;
    }
    #block1__hebergements,
    #block2__hebergements {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .block__label-hebergement {

        
    }





}
