/* @media mobiles*/
@media screen and (min-width: 667px) and (max-width: 768px) {
    
}
/* @media Tablettes */

@media screen and (min-width: 768px) and (max-width: 1240px) {

}
/* @media Tablette & petit pc */
@media screen and (min-width: 1240px) and (max-width: 1600px) {

}
/* @media Grand pc */

@media screen and (min-width: 1600px)
