* { 
    margin:0;
    padding:0;
}
/* GENERAL */
/* Fonts Family, Caractère de Police */
/* Important de Fonts */
@font-face { font-family: raleway; src: url('../fonts/Raleway-regular.ttf')


}

/* Fonts dans Body */
html, body {
    font-family: raleway, Arial, Helvetica, sans-serif;
}
.texteGras {
    font-weight: bold;
}

/* format du contenu */

/*Herbergements Contenu & format du contenu */
#imgHebergements1 {
    background-image: url('./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg') ;
}

#imgHebergements2 {
    background-image: url('./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg') ;
}
#imgHebergements3 {
    background-image: url('./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg') ;
}
#imgHebergements4 {
    background-image: url('./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg') ;
}
#imgHebergements5 {
    background-image: url('./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg') ;
}
#imgHebergements6 {
    background-image: url('./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg') ;
}

.formatImgHebergements {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}


/* Les plus populaires  Contenu & format du contenu */
#imgPopulaires1 {
    background-image: url('./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg') ;
}
#imgPopulaires2 {
    background-image: url('./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg') ;
}
#imgPopulaires3 {
    background-image: url('./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg') ;
}

.formatImgPopulaires {
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}

/* Les Activités Contenu & format du contenu */
#imgActivites1 {
    background-image: url('./images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg') ;
}
#imgActivites2 {
    background-image: url('./images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg') ;
}
#imgActivites3 {
    background-image: url('./images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg') ;
}
#imgActivites4 {
    background-image: url('./images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg') ;
}
#imgActivites5 {
    background-image: url('./images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg') ;
}
#imgActivites6 {
    background-image: url('./images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg') ;
}

.formatImgActivites {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}
.hauteurTitre {
    height: 70px;
}
.titreActivites {
    display : flex;
    justify-content : flex-start;
    align-items : center;
    padding-left : 5%;
    width : 95%;
}

/* fin format du contenu */

/* Couleurs */
.colorBleu {
    color: #0065fc;
}
.colorBleuClair {
    color: #deebff;
}
.colorGris {
    color: #f2f2f2;
}

.backBleu {
    background-color: #0065fc;
}
.backBleuClair {
    background-color: #deebff;
}
.backGris {
    background-color: #f2f2f2;
}
.colorLien2 {
    color: black;
}
/* La navBar + logo */
#navLogo {
    width: 80%;
    padding: 10px;
    margin-top: 20px;
    margin-left:20px;

}
#navLogo a {
    text-decoration : none;
    font-size: 18px;
}
#navSincrire {
    font-weight: bold;
}


/* Header */
header {
    margin-top: 40px;
    margin-bottom: 40px;
}
#texteAccroche  {
    width: 80%;
    margin-bottom: 30px;
    padding-left: 15px;
    justify-content: center;
}
#texteAccroche h1 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    font-size: 22px;

}
.bordureSearch {
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
    margin-top : 10px;
}
.paddingSearch {
    padding-left : 20px;
}
#rechercheBox {
    display : flex;
    justify-content : center;
    align-items : center;
}
.rechercheBox {
    display : flex;
    justify-content : center;
    align-items : center;
}

#recherche {
    width: 230px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
}
.iconMapsBack {
    background-image: url('');
    background-repeat: no-repeat;
    background-image-size: 10%
}

.iconSize {
    width: 50px;
    height: 50px;
    border-radius: 10px 0 0 10px;
}

#buttonSearch {
    width: 120px;
    height: 50px;
    color: #fff;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
/*Filtres et Format des Filtres */
#filtre {
    display: Block;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 10px;
    padding-right: 20px;
    width: 80%;
    height: 200px;
    
}
.margFiltreTitre {
    margin-right: 20px;
}
.filtreTexteIcons {
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    width: 50%;
}
.filtreTexteIcons:hover > .filtreTexte {
    color: #0065FC;
}
.filtreTexteIcons:hover > .filtreIcons {
    color: white;
    background-color: #0065FC;
}
.filtreTexte {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtreIcons {
    margin-left: -2px;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065FC;
    background-color: #deebff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#iconRecherche {
    background-image: url ('\1f50d');
    color: black;
}

/*Info Icone*/
#info {
    display : flex;
    align-items: center;
    margin-left: 20px;
}
.parentIcon {
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
    padding-left: 10px;
}
/* fin Header */

/* Format des boites container des contenus*/

/* Blocs les Hebergements & leurs formats */
.titrePrincipaux {
    font-size: 22px;
}
#textePlus {
    font-size: 18px;
    font-weight: bold;
}

.cubeHebergements {
    width: 95%;
    height: auto;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.cubeDetailsHebergements {
    width: 90%;
    margin-top: 10px;
    padding-left: 5%;
}
.cubeDetailsHebergements h3, .cubeDetailsHebergements p, .cubeDetailsHebergements div {
    margin: 5px;
}

/* blocs les Populaires & leurs formats */
#populairesBox {
    height: 700px;
}
.blocPopulaires {
    padding-left : 20px;
    padding-right : 20px;
}
.blocPopulaires12 {
    margin-bottom: 22px;

}
.cubePopulaires {
    background-color: white;
    height: auto;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
}
.cubeDetailsPopulaires {
    width: 60%;
    padding-left: 5%;
}

#populaires1Box, #populaires2Box, #populaires3Box, #titrePopulaires, #filtreEcoFamille {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#titrePopulaires {
    font-size: 15px;
    margin-bottom: 20px;
}

/* Blocs Activités & leurs formats */
h2 {
    margin-bottom: 20px;
    margin-top:20px;
}
#activitesBox {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
}
#blocActivites {
    width: 100%;
    padding: 5px;
    height: auto;
    margin-top: 20px;
}
.cubeActivites {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.cubeActivites2356 {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}
/*
.blocActivites2356 {
    width: 23%;
    height: 600px;
}
*/

/* Le footer */
.footContainer {
    bottom: 0;
    background-color: #f2f2f2;
    margin-top: 50px;
    height: 450px;
    padding: 20px;
  
}
.blocfoot ul {
    margin-bottom : 20px;
}
footer h4 {
    font-weight : bold;
    font-size: 20px;
}

.blocfoot ul li {
    list-style: none;
    margin-top: 10px;
    margin-bottom : 20px;
}
.titreFoot {
    margin-bottom : 20px;
    font-weight: bold;
    font-size: 18px;
}
 /* Fin de Format des Blocs container de Contenu */
 /* Format des Boites "Sections" contenant les "container" de Contenu */
#productBox, #populairesBox, #hebergementsBox, #activitesBox, #footBox, #navBloc {
    margin-bottom: 20px;
    margin-left: 2px;
}
#titreActivitesBox {
    margin-left : 20px;
    margin-top: 50px; 
}
#blocA, #blocB {
    margin-bottom: 5px;
    width: 90%;
    height:900px;
    padding: 20px;
}

#footBox {
    margin-top : 20px;
}
/* Flexbox dans les Media Queries */

@media screen and (max-width: 768px) {
    /* Organiser boites de container dans la navBar en carré */
    #navLogo {
    display: flex;
    align-items: column;
    justify-content: space-between;
    height: 95px;
    }

    #navColonne2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: space-between;
    margin-top: 10px;

    }
    #navHerbergements {
    margin-top: 12px;
    padding-top: 15px;
    }

    #navActivites{
     padding-right: 30px;
     margin-top: 20px;
    }
    #navHerbergements {
     padding-left : 20px;
    }
    #navSincrire {
     padding-left : 20px;
    }
    /*Bordure de la NavBar */
    #navBordure {
        display: flex;
        flex-direction: row;
    }
    #navBordure1 {
       width: 50%;
    }
    #navBordure2 {
        width: 50%;
    }
    .bordureNav {
    border-top : 3px solid blue;
    }
    .bordureNav23 {
    border-top : 3px solid #f2f2f2;
    }
    /* Comportement Filtres */
    .filtreTexte {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .filtreTexteIcons {
        display: flex;
        align-items: center;
        width: 80%;
    }
    
    /* Comportement Blocs les Populaires */
    #populaires1Box, #populaires2Box, #populaires3Box, #titrePopulaires, #filtreEcoFamille {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* bloc Hebergement*/
    #bloc1, #bloc2 {
        display: flex;
        flex-direction: column;
    }
   
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Comportement des Flexbox pour tablette */

}

@media screen and (min-width: 1024px) and (max-width: 1600px) {
    /* Comportement des Flexbox pour Grande tablette */

}
@media screen and (min-width: 1600px) {
        /* Comportement des Flexbox pour Desktop */

        /* La NavBar */
        #navBloc {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100px;
            order: 2;
        }
        #navLogo {
            width: 100%;
            display: flex;
            flex-direction: row;
        }
        .margLogo {
            width: 110%;
            margin-top: 20px;
        }
        #navColonne1, #navColonne2 {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 50px;
        }
        #navColonne2 {
            justify-content: space-around;
            flex-shrink: 10;
            height:100px;
            margin-left: 80px;
            padding: 50px;
        }
        #navColonne2 a {
            margin-right: 100px;
        }
        #navColonne1 {
            justify-content: space-between;
            flex-grow: 10;
        }
        #navHerbergements {
            border-top: 2px solid #0065FC;
            padding: 50px;
        }
        #navBordure {
            order: 1;
        }

        /* Filtres à mettre sur une ligne*/
        #filtre {
            display: flex;
            flex-direction: row;
            height: 90%;
            width: 100%;
            margin-left: 10px;
            padding-left: 10px;
        }
        #filtreEcoFamille, #filtreRomantiqueAnimaux {
            margin-left: 20px;
        }
        #filtreRomantiqueAnimaux {
            display: flex;
            flex-direction: row;
            margin-left: 30px;
        }
        #filtreRomantique {
            width: 40%;
        }
        #filtreAnimaux {
            width: 70%;
            margin-left: 40px;

        }
        #filtreEcoFamille {
            margin-right: 20px;
        }
        #filtreEco {
            width: 50%;
            margin-right: 20px;
        }
        #filtreFamille {
            width: 200px;
            margin-left: 40px;
        }
        

        /* blocs Hebergements & les Populaires Mise */
        
        #productBox {
            width: 100%;
            margin-left: 20px;
            display: flex;
            flex-direction: row;
        }
        .blocHebergements {
            width: 1100px;
        }
  
        #hebergementsBox {
            flex: 2;
            order: 1;
            background-color: #f2f2f2;
            margin-right: 40px;
            display: flex;
            justify-content: space-between;
            width: 55%;
            border-radius: 15px;
        }
        .cubeHebergements {
            margin-left : 20px;
        }
        #populairesBox {
            flex: 1;
            order: 2;
            margin-left: 40px;
            width: 25%;
            padding-left: 40px;
            padding-right: 10px;
            padding-top: 20px;
            border-radius: 15px;
        }
        #GroupePopulairesBox {
            width: 80%;
        }

        #bloc1, #bloc2 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 20px;
        }
        .titrePrincipaux {
            margin-left : 45px;
            margin-top: 40px;
        }
        #textePlus {
            margin-left : 60px;
        }

       /* bloc Activites avec ses 2 blocs A et B */

       #activitesBox {
           display: flex;
           width: 100%;
       }
       #blocActivites {
           display: flex;
           flex-direction: row;
       }
       #titreActivitesBox {
           margin-left: 35px;
       }
       #blocA {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
        margin: auto;
        padding: 10px;
       }
       #blocB {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
        margin: auto;
        padding: 10px;
       }
       .blocActivites2356 {
        width: 50%;
        height :90%;
        border-radius: 15px;
        margin: 20px;
       }
       .cubeActivites {
        width: 50%;
        border-radius: 15px;
        box-shadow: 5px 5px 5px 1px #f2f2f2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
       }
       #imgActivites1, #imgActivites4 {
           height: 480px;
       }

       /* footer, chaque compartiment aligné */
       .footContainer {
           height: 250px;
       }
       #footBox {
           display: flex;
           width: 100%;
       }
       footer {
           margin-left: 20px;
       }
       .blocfoot {
           display: flex;
           flex-direction: row;
           justify-content: space-between;
           width: 1400px;
           padding-top:30px;
       }

       footer ul {
           margin-top: 30px;
       }
}