* { 
    margin:0;
    padding:0;
}
/* GENERAL */
/* Fonts Family, Caractère de Police */
/* Important de Fonts */
    @font-face {
        font-family: "raleway";
        src: url("./fonts/raleway/Raleway-Light.ttf") format("ttf");
        src: url("./fonts/raleway/Raleway-Bold.ttf") format("ttf");
        src: url("./fonts/raleway/Raleway-ExtraBold.ttf") format("ttf");
        src: url("./fonts/raleway/Raleway-Regular.ttf") format("ttf");
    }

/* Fonts dans Body */
html, body {
    font-family: raleway, 'Tangerine', Arial, 'Times New Roman', Helvetica, sans-serif;
}
.texteGras {
    font-weight: bold;
}

/* format du contenu */

/*Herbergements Contenu & format du contenu */
#imgHebergements1 {
    background-image: url('./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg') ;
}

#imgHebergements2 {
    background-image: url('./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg') ;
}
#imgHebergements3 {
    background-image: url('./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg') ;
}
#imgHebergements4 {
    background-image: url('./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg') ;
}
#imgHebergements5 {
    background-image: url('./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg') ;
}
#imgHebergements6 {
    background-image: url('./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg') ;
}

.formatImgHebergements {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}


/* Les plus populaires  Contenu & format du contenu */
#imgPopulaires1 {
    background-image: url('./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg') ;
}
#imgPopulaires2 {
    background-image: url('./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg') ;
}
#imgPopulaires3 {
    background-image: url('./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg') ;
}

.formatImgPopulaires {
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}

/* Les Activités Contenu & format du contenu */
#imgActivites1 {
    background-image: url('./images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg') ;
}
#imgActivites2 {
    background-image: url('./images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg') ;
}
#imgActivites3 {
    background-image: url('./images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg') ;
}
#imgActivites4 {
    background-image: url('./images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg') ;
}
#imgActivites5 {
    background-image: url('./images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg') ;
}
#imgActivites6 {
    background-image: url('./images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg') ;
}

.formatImgActivites {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}
.hauteurTitre {
    height: 70px;
}
.titreActivites {
    display : flex;
    justify-content : flex-start;
    align-items : center;
    padding-left : 5%;
    width : 95%;
}

/* fin format du contenu */

/* Couleurs */
.colorBleu {
    color: #0065fc;
}
.colorBleuClair {
    color: #deebff;
}
.colorGris {
    color: #f2f2f2;
}

.backBleu {
    background-color: #0065fc;
}
.backBleuClair {
    background-color: #deebff;
}
.backGris {
    background-color: #f2f2f2;
}
.colorLien2 {
    color: black;
}
/* Nouveau Format navBar */
#navContainer {
    height: 300px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
#barBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}
#navColumn1 { 
     height: 150px;
     justify-content: flex-start;
     padding-top: 30px;
}
#navColumn2  {
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    height: 150px;
}
#navBoite1, #navBoite2 {
    display: flex;
    flex-direction: row;
    max-width: 667px;
}

#navSincrireBox, #navHerbergementsBox {
    display: flex;
    flex-direction: row-reverse;
}
#logoBox, #navActivitesBox {
    display: flex;
    flex-direction: row;
    height: 60px;
}
.navGapBox {
    height: 80px;
    width: 70px;
}
#demarcation1, #demarcation2 {
    display: flex;
    width: 20px;
    height: 300px;
}
#LienActivites, #LienSincrire, #LienHeb {
    font-size: 18px;
    width: 120px;
    margin-top: 40px;
}
#navActivitesBox {
    margin-bottom: 20px;
}
#logoBox  {
    items-size: 50px;
}
#navSincrireBox {
    padding-top: 10px;
    height: 80px;
}

a {
    text-decoration: none;
}
#bordureGrisBox {
    height: 70px;
    margin-top: 25px;
    border-top: 2px solid #f2f2f2;
}
#bordureBleuBox {
    height: 25px;
    border-bottom: 2px solid #0065fc;
}
#navSincrireBox
/* La navBar + logo */
#navLogo {
    width: 80%;
    padding: 10px;
    margin-top: 20px;
    margin-left:20px;

}
#navLogo a {
    text-decoration : none;
    font-size: 18px;
}
#navSincrire {
    font-weight: bold;
    margin-left: 100px;
}


/* Header */
header {
    margin-top: 40px;
    margin-bottom: 40px;
}
#texteAccroche  {
    width: 80%;
    margin-bottom: 30px;
    padding-left: 15px;
    justify-content: center;
}
#texteAccroche h1 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    font-size: 22px;

}

/*Filtres et Format des Filtres */
#filtre {
    display: Block;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 10px;
    padding-right: 20px;
    width: 80%;
    height: 200px;
    
}
.margFiltreTitre {
    margin-right: 20px;
}
.filtreTexteIcons {
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    width: 50%;
}
.filtreTexteIcons:hover > .filtreTexte {
    color: #0065FC;
}
.filtreTexteIcons:hover > .filtreIcons {
    color: white;
    background-color: #0065FC;
}
.filtreTexte {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtreIcons {
    margin-left: -2px;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065FC;
    background-color: #deebff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Info Icone*/
#info {
    display : flex;
    align-items: center;
    margin-left: 20px;
}
.parentIcon {
    width: 15px;
    height: 25px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
    padding-top: 5px;
    padding-left: 10px;
}
/* Nouvelle Version Bouton de recherche */
#searchBloc {
    display : flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    height: 50px;
    margin-top: 20px;
}
#searchBox {
    display : flex;
    flex-direction : row;
    justify-content: flex-start;
    width: 90%;
    padding-right: 20px;
    padding-left: 20px;
    margin-left:10px;
    margin-right: 20px;
}

#MapIconSearch {
    width: 80px;
    height: 50px;
    display : flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;
}

#buttonSearch {
    display : flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 50px;
    color: #fff;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
    margin-left: -20px;

}
#zoneRecherche {
    width : 100%;
    height: 50px;
    border: .5px solid #f2f2f2;
    font-weight: bold;
    font-size: 18px;

}
/* fin Header */

/* Format des boites container des contenus*/

/* Blocs les Hebergements & leurs formats */
.titrePrincipaux {
    font-size: 22px;
}
#textePlus {
    font-size: 18px;
    font-weight: bold;
}

.cubeHebergements {
    width: 95%;
    height: auto;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.cubeDetailsHebergements {
    width: 90%;
    margin-top: 10px;
    padding-left: 5%;
}
.cubeDetailsHebergements h3, .cubeDetailsHebergements p, .cubeDetailsHebergements div {
    margin: 5px;
}

/* blocs les Populaires & leurs formats */
#populairesBox {
    height: 700px;
}
.blocPopulaires {
    padding-left : 20px;
    padding-right : 20px;
}
.blocPopulaires12 {
    margin-bottom: 22px;

}
.cubePopulaires {
    background-color: white;
    height: auto;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
}
.cubeDetailsPopulaires {
    width: 60%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cubeDetailsPopulaires h3, .cubeDetailsPopulaires p, .cubeDetailsPopulaires div {
   margin-bottom: 20px;
}

#populaires1Box, #populaires2Box, #populaires3Box, #titrePopulaires, #filtreEcoFamille {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#titrePopulaires {
    font-size: 15px;
    margin-bottom: 20px;
}

/* Blocs Activités & leurs formats */
h2 {
    margin-bottom: 20px;
    margin-top:20px;
}
#activitesBox {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
}
#blocActivites {
    width: 100%;
    padding: 5px;
    height: auto;
    margin-top: 20px;
}
.cubeActivites {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.cubeActivites2356 {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}
/*
.blocActivites2356 {
    width: 23%;
    height: 600px;
}
*/

/* Le footer */
.footContainer {
    bottom: 0;
    background-color: #f2f2f2;
    margin-top: 50px;
    height: 450px;
    padding: 20px;
  
}
.blocfoot ul {
    margin-bottom : 20px;
}
footer h4 {
    font-weight : bold;
    font-size: 22px;
    margin-bottom : 30px;
}

.blocfoot ul li {
    list-style: none;
    margin-top: 10px;
    margin-bottom : 20px;
}

 /* Fin de Format des Blocs container de Contenu */
 /* Format des Boites "Sections" contenant les "container" de Contenu */
#productBox, #populairesBox, #hebergementsBox, #activitesBox, #footBox, #navBloc {
    margin-bottom: 20px;
    margin-left: 2px;
}
#titreActivitesBox {
    margin-left : 20px;
    margin-top: 50px; 
}
#blocA, #blocB {
    margin-bottom: 5px;
    width: 90%;
    height:900px;
    padding: 20px;
}

#footBox {
    margin-top : 20px;
}

/* Flexbox dans les Media Queries */

@media screen and (max-width: 768px) {
    /* Organiser boites de container dans la navBar en carré */
   
    /*navBar en mode carré*/
    #navLogo {
    display: flex;
    justify-content: space-between;
    max-width: 667px;
    height: 150px;
    font-size: 70%;
    }

    #navColonne2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: auto;
    margin-right: 100px;
    margin-top: 150px;
    padding-top: 18px;
    }

    #navActivites{
    font-size: 15px;
    padding-bottom: 50px;
    margin-right: 80px;
    margin-bottom: 20px;
    border-bottom : 3px solid #f2f2f2;
    width: auto;
    }
    #navHerbergements {
    margin-top: 20px;   
    margin-right: 20px;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom : 3px solid blue;
    height: 50px;
    font-size: 15px;
    
    }
    #navSincrire {
     margin-top: 80px;
     margin-right: 120px; 
     padding-bottom: 25px; 
     font-size: 15px;
     width: auto;
    }
    /*Bordure de la NavBar */
    #navBordure {
        display: flex;
        flex-direction: row;
    }
    #navBordure1 {
       width: 50%;
    }
    #navBordure2 {
        width: 50%;
    }
   
    /* Comportement Filtres */
    .filtreTexte {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .filtreTexteIcons {
        display: flex;
        align-items: center;
        width: 80%;
    }
    #motRecherche {
        display: none;
    }
    #iconRecherche {
    
    }
    /* Comportement Blocs les Populaires */
    #populaires1Box, #populaires2Box, #populaires3Box, #titrePopulaires, #filtreEcoFamille {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* bloc Hebergement*/
    #bloc1, #bloc2 {
        display: flex;
        flex-direction: column;
    }
    
   
}
@media screen and (min-width: 768px) and (max-width: 1240px){
    /* Comportement des Flexbox pour petite tablette */
    
         /*navBar en mode carré*/
         #navLogo {
            display: flex;
            justify-content: space-between;
            height: 200px;
            margin-left: 50px;
            }
            #navColonne1, #navColonne2 {
            display: flex;
            flex-direction: row;
            width: 95%;
            height: 200px;
            }
            #navColonne2 {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            padding-top: 10px;
            margin-left: 50px;
            }
            #navHerbergements {
            margin-top: 50px;
            padding-top: 15px;
            margin-left: 100px;
            }
            
            #navActivites{
            padding: 52px;
            margin-top: 12px;
            margin-bottom: 30px;
            border-bottom : 3px solid #f2f2f2;
            padding-right: 80px;
            }
            #navHerbergements {
            padding: 50px;
            margin-bottom: 20px;
            border-bottom : 3px solid blue;
            }
            #navSincrire {
            margin-top: 25px;   
            padding-left : 75px;
            margin-left: 150px;
            margin-right: 20px;
            }
            /*Bordure de la NavBar */
            #navBordure {
            display: flex;
            flex-direction: row;
            }
            #navBordure1 {
            width: 50%;
            }
            #navBordure2 {
            width: 50%;
            }
            /* Le header */
            header {
            margin-left: 40px;
            }   
            #filtre {
            display: Block;
            }
            #iconRecherche {
            display: none;
            }
             #buttonSearch {
             width: auto;
             padding-left: 5px;
             padding-right: 5px;
            }
            #filtreRomantiqueAnimaux {
                display: flex;
                flex-direction: row;
            }
                    /*bloc Hebergements & les Populaires.*/
            #productBox {
            display: flex;
            flex-direction: column;
            }
            /* Les hebergements */
            #hebergementsBox {
            flex: 2;
            order: 2;
            background-color: #f2f2f2;
            margin-right: 40px;
            display: flex;
            justify-content: space-between;
            width: 98%;
            border-radius: 15px;
            margin-left: 40px;
            }
    
            .cubeHebergements {
                margin-left : 20px;
                justify-content: space-around;
            }
    
            .blocHebergements {
                width: 1200px;
                height: 800px;
            }
    
            /*les Populaires */
            #populairesBox {
                flex: 1;
                order: 2;
                margin-left: 40px;
                width: 98%;
                border-radius: 15px;
                flex-direction: row;
            }
                    
            #GroupePopulairesBox {
                width: 100%;
                height: 200px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding-bottom: 50px;
            }
            #populaires1Box, #populaires2Box, #populaires3Box, #titrePopulaires{
                width: 350px;
                height: 180px;
                height: 80%;
            }
            #populaires3Box {
                margin-bottom: 20px;
            }
            #titrePopulaires {
                justify-content: space-between;
                width: 100%;
                margin-bottom: 50px;
            }
            .cubePopulaires {
                width: 300px;
            }
    
            #bloc1, #bloc2 {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 20px;
            }
            .titrePrincipaux {
                margin-left : 45px;
                margin-top: 40px;
            }
            #textePlus {
                margin-left : 60px;
            }
    


             /* bloc Activites avec ses 2 blocs A et B */

            #activitesBox {
            display: flex;
            flex-direction: column;
            width: 100%;
            }
            #blocActivites {
            display: flex;
            flex-direction: column;
            }   
            #titreActivitesBox {
            margin-left: 100px;
            }
            #blocA {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: auto;
            margin: auto;
            padding: 10px;
            }
            #blocB {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: auto;
            margin: auto;
            padding: 10px;
            }
           .blocActivites2356 {
           width: 50%;
           height :90%;
           border-radius: 15px;
           margin: 20px;
           }
          .cubeActivites {
           width: 50%;
           border-radius: 15px;
           box-shadow: 5px 5px 5px 1px #f2f2f2;
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           margin: 20px;
           }
           #imgActivites1, #imgActivites4 {
           height: 480px;
           }
           /* footer, chaque compartiment aligné */
           .footContainer {
           height: 250px;
           }
           #footBox {
           display: flex;
           width: 100%;
           }
           footer {
           margin-left: 20px;
           }
           .blocfoot {
           display: flex;
           flex-direction: row;
           justify-content: space-around;
           width: 950px;
           padding-top:30px;
           }
           footer ul {
           margin-top: 30px;
           }      
}

@media screen and (min-width: 1240px) and (max-width: 1600px) {
    /* Comportement des Flexbox pour tablette */

        /*navBar en mode carré*/
        #navLogo {
        display: flex;
        justify-content: space-between;
        height: 200px;
        margin-left: 50px;
        }
        #navColonne1, #navColonne2 {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 150px;
        }
        #navColonne2 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        padding-top: 10px;
        margin-left: 150px;
        }
        #navHerbergements {
        margin-top: 12px;
        padding-top: 15px;
        margin-left: 200px;
        }
        
        #navActivites{
        padding: 52px;
        margin-top: 20px;
        margin-bottom: 15px;
        border-bottom : 3px solid #f2f2f2;
        padding-right: 80px;
        }
        #navHerbergements {
        padding: 50px;
        margin-bottom: 20px;
        border-bottom : 3px solid blue;
        }
        #navSincrire {
        margin-top: 25px;   
        padding-left : 150px;
        margin-left: 150px;
        }
        /*Bordure de la NavBar */
        #navBordure {
        display: flex;
        flex-direction: row;
        }
        #navBordure1 {
        width: 50%;
        }
        #navBordure2 {
        width: 50%;
        }
        /* Le header */
        header {
        margin-left: 20px;
        }

        /* Filtres à mettre sur une ligne*/
        #filtre {
        display: flex;
        flex-direction: row;
        height: 90%;
        width: 100%;
        margin-left: 30px;
        padding-left: 10px;
        }
        #filtreEcoFamille, #filtreRomantiqueAnimaux {
        margin-left: 20px;
        }
        #filtreRomantiqueAnimaux {
        display: flex;
        flex-direction: row;
        margin-left: 30px;
        }
        #filtreRomantique {
        width: 40%;
        }
        #filtreAnimaux {
        width: 70%;
        margin-left: 40px;
        }
        #filtreEcoFamille {
        margin-right: 20px;
        }
        #filtreEco {
        width: 50%;
        margin-right: 20px;
        }
        #filtreFamille {
        width: 200px;
        margin-left: 40px;
        }
        /* Zone de Recherche */
        #iconRecherche {
        display: none;
        }
        #buttonSearch {
        width: auto;
        padding-left: 5px;
        padding-right: 5px;
        }
        /*bloc Hebergements & les Populaires.*/
        #productBox {
        display: flex;
        flex-direction: column;
        }
        /* Les hebergements */
        #hebergementsBox {
        flex: 2;
        order: 2;
        background-color: #f2f2f2;
        margin-right: 40px;
        display: flex;
        justify-content: space-between;
        width: 98%;
        border-radius: 15px;
        margin-left: 40px;
        }

        .cubeHebergements {
            margin-left : 20px;
            justify-content: space-around;
        }

        .blocHebergements {
            width: 1200px;
            height: 800px;
        }

        /*les Populaires */
        #populairesBox {
            flex: 1;
            order: 2;
            margin-left: 40px;
            width: 98%;
            border-radius: 15px;
            flex-direction: row;
        }
                
        #GroupePopulairesBox {
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-bottom: 50px;
        }
        #populaires1Box, #populaires2Box, #populaires3Box, #titrePopulaires{
            width: 350px;
            height: 180px;
            height: 80%;
        }
        #populaires3Box {
            margin-bottom: 20px;
        }
        #titrePopulaires {
            justify-content: space-between;
            width: 100%;
            margin-bottom: 50px;
        }
        .cubePopulaires {
            width: 300px;
        }

        #bloc1, #bloc2 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 20px;
        }
        .titrePrincipaux {
            margin-left : 45px;
            margin-top: 40px;
        }
        #textePlus {
            margin-left : 60px;
        }

       /* bloc Activites avec ses 2 blocs A et B */

       #activitesBox {
        display: flex;
        flex-direction: column;
        width: 100%;
        }
        #blocActivites {
        display: flex;
        flex-direction: row;
        }
        #titreActivitesBox {
        margin-left: 35px;
        }
        #blocA {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
        margin: auto;
        padding: 10px;
        }
        #blocB {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
        margin: auto;
        padding: 10px;
        }
       .blocActivites2356 {
        width: 50%;
        height :90%;
        border-radius: 15px;
        margin: 20px;
        }
        .cubeActivites {
         width: 50%;
        border-radius: 15px;
        box-shadow: 5px 5px 5px 1px #f2f2f2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
        }
        #imgActivites1, #imgActivites4 {
        height: 480px;
        }

               /* footer, chaque compartiment aligné */
       .footContainer {
        height: 250px;
         }
         #footBox {
        display: flex;
        width: 100%;
        }
        footer {
        margin-left: 20px;
        }
        .blocfoot {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1150px;
        padding-top:30px;
        }

        footer ul {
        margin-top: 30px;
        }

}

@media screen and (min-width: 1600px) {
        /* Comportement des Flexbox pour Desktop */
        /* Nouvelle navBar */
        #NavContainer {
            display: flex;
            flex-direction: column;
            min-width: 1600px;
            width: 100%;
        }
        #barBox {
            width: 100%;
            background-color: black;
            justify-content: flex-end;
        }
        #navBoite1, #navBoite2 {
            flex-direction: row;
            background-color: darkgrey;
            height: 80%;

        }
        #navBoite1 {
           width: auto;
        }
        #navBoite2 {
            width: 400px;
            justify-content: flex-end;
        }
        #demarcation1, #demarcation2 {
            background-color: blueviolet;
        }
        
        #navColumn1, #navColumn2 {
            display: flex;
            flex-direction: row;
        }
        #navColumn1 {
            justify-content: space-between;
            background-color: darkorange;
            width: inherit;
        }
        #navColumn2 {
            background-color: lightgreen;
            align-items: center;
        }

        /* La NavBar */
        #navBloc {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100px;
            margin-left: 20px;
        }
        #navLogo {
            width: 100%;
            display: flex;
            flex-direction: row;
        }
        #logoBox {
            margin-right: 20px;
        }
        .margLogo {
            width: 110%;
            margin-top: 20px;
        }
        #navColonne1, #navColonne2 {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 50px;
        }
        #navColonne2 {
            justify-content: space-around;
            flex-shrink: 10;
            height:100px;
            margin-left: 80px;
            padding: 50px;
            
        }
        #navColonne2 a {
            margin-right: 40px;
        }
        #navColonne1 {
            justify-content: space-between;
            flex-grow: 10;
        }
        #navHerbergements {
            border-top: 2px solid #0065FC;
            padding: 50px;
        }
        #navSincrire {
            margin-left: 60px;
        }
        #navActivites {
            margin-right: 60px;
        }
        /* Le header */
        header {
            margin-left: 20px;
        }

        /* Filtres à mettre sur une ligne*/
        #filtre {
            display: flex;
            flex-direction: row;
            height: 90%;
            width: 100%;
            margin-left: 30px;
            padding-left: 10px;
        }
        #filtreEcoFamille, #filtreRomantiqueAnimaux {
            margin-left: 20px;
        }
        #filtreRomantiqueAnimaux {
            display: flex;
            flex-direction: row;
            margin-left: 30px;
        }
        #filtreRomantique {
            width: 40%;
        }
        #filtreAnimaux {
            width: 70%;
            margin-left: 40px;

        }
        #filtreEcoFamille {
            margin-right: 20px;
        }
        #filtreEco {
            width: 50%;
            margin-right: 20px;
        }
        #filtreFamille {
            width: 200px;
            margin-left: 40px;
        }
        #iconRecherche {
            display: none;
        }
        #buttonSearch {
            width: auto;
            padding-left: 5px;
            padding-right: 5px;
        }

        

        /* blocs Hebergements & les Populaires Mise */
        
        #productBox {
            width: 100%;
            margin-left: 20px;
            display: flex;
            flex-direction: row;
        }
        .blocHebergements {
            width: 1250px;
        }
  
        #hebergementsBox {
            flex: 2;
            order: 1;
            background-color: #f2f2f2;
            margin-right: 40px;
            display: flex;
            justify-content: space-between;
            width: 55%;
            border-radius: 15px;
        }
        .cubeHebergements {
            margin-left : 20px;
        }
        #populairesBox {
            flex: 1;
            order: 2;
            margin-left: 40px;
            width: 25%;
            padding-left: 40px;
            padding-right: 10px;
            padding-top: 20px;
            border-radius: 15px;
        }
        .blocPopulaires {
            width:80%;
            margin-left: 20px;
        }
        #GroupePopulairesBox {
            width: 80%;
        }

        #bloc1, #bloc2 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 20px;
        }
        .titrePrincipaux {
            margin-left : 45px;
            margin-top: 40px;
        }
        #textePlus {
            margin-left : 60px;
        }

       /* bloc Activites avec ses 2 blocs A et B */

        #activitesBox {
           display: flex;
           flex-direction: column;
           width: 100%;
        }
        #blocActivites {
           display: flex;
           flex-direction: row;
        }
        #titreActivitesBox {
           margin-left: 35px;
        }
        #blocA {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
        margin: auto;
        padding: 10px;
        }
        #blocB {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
        margin: auto;
        padding: 10px;
        }
        .blocActivites2356 {
        width: 50%;
        height :90%;
        border-radius: 15px;
        margin: 20px;
        }
        .cubeActivites {
        width: 50%;
        border-radius: 15px;
        box-shadow: 5px 5px 5px 1px #f2f2f2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
        }
        #imgActivites1, #imgActivites4 {
           height: 480px;
        }

       /* footer, chaque compartiment aligné */
        .footContainer {
           height: 250px;
        }
        #footBox {
           display: flex;
           width: 100%;
        }
        footer {
           margin-left: 20px;
        }
        .blocfoot {
           display: flex;
           flex-direction: row;
           justify-content: space-between;
           width: 1600px;
           padding-top:30px;
        }

        footer ul {
           margin-top: 30px;
        } 
        
}