* { 
    margin:0;
    padding:0;
}
/* GENERAL */
html, body {
    font-family: raleway, Arial, Helvetica, sans-serif;
}
.flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexColumnCentre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexColumnAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flexColumnBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}


.decorationNone {
    text-decoration: none;
}

.texteGras {
    font-weight: bold;
}
.bordureNone {
    border : none;
}

/* Couleurs */
.colorBleu {
    color: #0065fc;
}
.colorBleuClair {
    color: #deebff;
}
.colorGris {
    color: #f2f2f2;
}

.backBleu {
    background-color: #0065fc;
}
.backBleuClair {
    background-color: #deebff;
}
.backGris {
    background-color: #f2f2f2;
}

/* NAV */
.sizeNav {
    height: 100px;
    margin-top: 5px;
}
.sizeLiens {
    width: 45%;
}
.sizeLien {
    width: 140px;
    height: 99px;
}

.colorLien2 {
    color: black;
}

.bordureNav {
    border-top : 2px solid blue;
}
.bordureNav23 {
    border-top : 2px solid transparent;
}
.margLogo {
    margin-bottom: 7px;
}
/* Header */
.bordrueSearch {
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
    margin-top : 10px;
}
.paddingSearch {
    padding-left : 20px;
}

.recherche {
    width: 230px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
}
.iconMapsBack {
    background-image: url('');
    background-repeat: no-repeat;
    background-image-size: 10%
}

.iconSize {
    width: 50px;
    height: 50px;
    border-radius: 10px 0 0 10px;
}

.buttonSearch {
    width: 120px;
    height: 50px;
    color: #fff;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
/*Filtres*/
.margFiltre {
    margin-top: 50px;
    margin-bottom: 40px;
}

.filtre {
    display: flex;
    align-items: center;
}
.margFiltreTitre {
    margin-right: 20px;
}
.filtreTexteIcons {
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}
.filtreTexteIcons:hover > .filtreTexte {
    color: #0065FC;
}
.filtreTexteIcons:hover > .filtreIcons {
    color: white;
    background-color: #0065FC;
}
.filtreTexte {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
    font-weight: bold;
}

.filtreIcons {
    margin-left: -2px;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065FC;
    background-color: #deebff;
    text-align: center;
    
}

/*Info Icone*/
.info {
    display : flex;
    align-items: center;
}
.parentIcon {
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
}

/* HEBERGEMENTS*/

.sizeHebergements {
    flex: 2;
    height: 650px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius : 10px;
}

.sizePopulaires {
    flex: 1;
    height: 650px;
    margin-left: 20px;
    border-radius : 10px;
}
.blocHebergements {
    padding-left: 20px;
    padding-right: 20px;
}
.bloc1 {
    margin-bottom: 10px;
}
.bloc2 {
    margin-top: 10px;
}
.cubeHebergements {
    width: 30%;
    height: auto;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
}
.cubeDetailsHebergements {
    width: 90%;
}

.imgHebergements1 {
    background-image: url('./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg') ;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.imgHebergements2 {
    background-image: url('./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg') ;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgHebergements3 {
    background-image: url('./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg') ;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgHebergements4 {
    background-image: url('./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg') ;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgHebergements5 {
    background-image: url('./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg') ;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgHebergements6 {
    background-image: url('./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg') ;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
/* populaires*/
.blocPopulaires {
    padding-left : 20px;
    padding-right : 20px;
}
.blocPopulaires12 {
    margin-bottom: 22px;

}
.cubePopulaires {
    background-color: white;
    height: auto;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
}
.cubeDetailsPopulaires {
    width: 60%;
    padding-left: 5%;
}
.imgPopulaires1 {
    background-image: url('./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg') ;
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
.imgPopulaires2 {
    background-image: url('./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg') ;
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
.imgPopulaires3 {
    background-image: url('./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg') ;
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
/*Activités */
h2 {
    margin-bottom: 20px;
    margin-top:20px;
}
.activites {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
}
.blocActivites {
    width: 100%;
    height: 600px;
    margin-top: 20px;
}
.blocActivites2356 {
    width: 23%;
    height: 600px;
}
/* Reglage Block */
.cubeActivites {
    width: 23%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.cubeActivites2356 {
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}
/* Fin reglage Bloc */
.hauteurTitre {
    height: 70px;
}
.titreActivites {
    display : flex;
    justify-content : flex-start;
    align-items : center;
    padding-left : 5%;
    width : 95%;
}
.imgActivites1 {
    background-image: url('./images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg') ;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
}
.imgActivites2 {
    background-image: url('./images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg') ;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0 0;
}.imgActivites3 {
    background-image: url('./images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg') ;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}
.imgActivites4 {
    background-image: url('./images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg') ;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
}
.imgActivites5 {
    background-image: url('./images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg') ;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}.imgActivites6 {
    background-image: url('./images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg') ;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}
/**/

/* footer */

.footContainer {
    width: 100%;
    height: 250px;
    padding-top: 50px;
    padding-right: 50px;
    margin-top: 20px;
    background-color: #F2F2F2;
    
}

.blocfoot {
    width: 70%;
    height: 250px;
    padding-right: 80px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.blocfoot ul li {
  list-style: none;
  margin-bottom: 20px;
}

.blocCharte .blocPropos .blocAssistance {
    margin-top: 40px;
    padding-top: 20px;
  
}

h4 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size : 20px;
}

/* Responsive by Media Queries */


/* media pour smartphone type : Iphone8 */

@media screen and (max-width: 740px) {
    /*Taille Texte*/
    h1, h2,h3, p {
        font-size: 1.25rem;
    }
    /*nav + logo */

    #navBloc {
        display: flex;
        height: 250px;
    }
    #logoBloc {
        display: block;
        width: 100%;
        top: 0;
    }
    #navLiens {
        flex-direction: column-reverse;
        position: relative;
        width: 80%;
        padding : 50px;
    }
    .bordureNav {
        border-top: none;
        border-bottom : 2px solid blue;
    }
    .bordureNav23 {
        border-top: none;
        border-bottom : 2px solid transparent;
    }
    /* Header */
    header {
        display: block;
        margin-left: 5px;
        margin-top: 200px;
    }
    header h1 {
        text-align : center;
        padding : 30px;
        margin-right: 25px;
    }
    header p {
        font-size: 1rem;
        margin-bottom : 15px;
        margin-right: 15px;
        text-align : center;
    }
    #zoneRecherche {
        width : 80%;
        font-size : 80%;
        justify-content : center;
        align-items: center;
        
    }

    .filtre {
        display: inline-block;
        align-items : justify;
        width : 60%;
        height : 30%;
        padding : 10px;
    }
    .filtreTexteIcons {
        margin: 10px;
    }
    .filtreIcons {
        width : 40%;
        font-size : 60%;
    }

    .filtreTexte {
        width : 80%;
        font-size : 95%;
    }
    .info {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .info p {
        width : 70%;
        font-size: 90%;

    }

    /* Hebergements*/
   #sectionHebergements {
       position: relative;
       display: block;
       width: auto;
       background-color : none;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       padding: 20px;
       
   }
      
   #blocHebergements {
       position: relative;
       display: block;
       width: 100%;
       margin: 10px;
       padding: 10px;
       order : 2; 
   }
   #blocHebergements p {
       font-size: 1rem;
       margin-top: 10px;
       margin-left : 10px;
   }

   #blocHebergements1, #blocHebergements2 {
        flex-direction: column;
        width: 100%;
   }
   .cubeHebergements{
         width : 100%;
         box-shadow: 25px black;
   }
   .backGris{
       background-color : white;
   }
   .cubeHebergements{
       width: 100%;
       box-shadow: 5px 5px 5px 1px #f2f2f2;
       margin-bottom: 10px;
   }
    /* les plus Populaires*/

   #blocPopulaires {
      background-color : #f2f2f2;
      width : 90%;
      position : relative;
      align-items: flex-end;
      justify-content: center;
      order: 1;
      margin-top : 10px;
      margin-right: 20px;
      padding: 20px 30px 20px 10px;
      font-size: 80%;
   }


   /* les Activités*/
  
   
   .blocActivites{
       display: block;
       width: 100%;
       height: 80%;
       margin-left : 10px;
       margin-right : 10px;
       flex-wrap: wrap;
   }
   .cubeActivites {
       width: 90%;
       margin-top : 10px;
       margin-bottom: 20px;
   }
   .cubeActivites2356 {
       display: block;
       width: 400%;
   
   }
   /* Footer*/
   #sectionFooter {
       display: block;
       width: 100%;
       padding-top: 80px;
       padding-left : 20px;
       height : 30rem;
       bottom: 0;
       margin-top: 100px;
     
   }
   .blocfoot {
       flex-direction: column;
       padding-top :30px;
   }
   .footContainer {
       width: 25rem;

       background-color-size: cover;

   }
}

    /*.flexCentre {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .flexAround {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .flexBetween {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .flexColumnCentre {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .flexColumnAround {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .flexColumnBetween {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       
    }*/
