* { 
    margin:0;
    padding:0;
}
/* GENERAL */
html, body {
    font-family: raleway, Arial, Helvetica, sans-serif;
}


/* format du contenu */

/*Herbergements*/
#imgHebergements1 {
    background-image: url('./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg') ;
}

#imgHebergements2 {
    background-image: url('./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg') ;
}
#imgHebergements3 {
    background-image: url('./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg') ;
}
#imgHebergements4 {
    background-image: url('./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg') ;
}
#imgHebergements5 {
    background-image: url('./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg') ;
}
#imgHebergements6 {
    background-image: url('./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg') ;
}

.formatImgHebergements {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}


/* Les plus populaires */
#imgPopulaires1 {
    background-image: url('./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg') ;
}
#imgPopulaires2 {
    background-image: url('./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg') ;
}
#imgPopulaires3 {
    background-image: url('./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg') ;
}

.formatImgPopulaires {
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}

/* Les Activités*/
#imgActivites1 {
    background-image: url('./images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg') ;
}
#imgActivites2 {
    background-image: url('./images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg') ;
}
#imgActivites3 {
    background-image: url('./images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg') ;
}
#imgActivites4 {
    background-image: url('./images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg') ;
}
#imgActivites5 {
    background-image: url('./images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg') ;
}
#imgActivites6 {
    background-image: url('./images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg') ;
}

.formatImgActivites {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}
.hauteurTitre {
    height: 70px;
}
.titreActivites {
    display : flex;
    justify-content : flex-start;
    align-items : center;
    padding-left : 5%;
    width : 95%;
}

/* fin format du contenu */

/* Couleurs */
.colorBleu {
    color: #0065fc;
}
.colorBleuClair {
    color: #deebff;
}
.colorGris {
    color: #f2f2f2;
}

.backBleu {
    background-color: #0065fc;
}
.backBleuClair {
    background-color: #deebff;
}
.backGris {
    background-color: #f2f2f2;
}
.colorLien2 {
    color: black;
}
/* La navBar + logo */




/* Header */
header {
    margin-top: 40px;
    margin-bottom: 40px;
}
#texteAccroche  {
    margin-bottom: 30px;
    font-size: 80%;
}
.bordureSearch {
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
    margin-top : 10px;
}
.paddingSearch {
    padding-left : 20px;
}
#rechercheBox {
    display : flex;
    justify-content : center;
    align-items : center;
}
.rechercheBox {
    display : flex;
    justify-content : center;
    align-items : center;
}

#recherche {
    width: 230px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
}
.iconMapsBack {
    background-image: url('');
    background-repeat: no-repeat;
    background-image-size: 10%
}

.iconSize {
    width: 50px;
    height: 50px;
    border-radius: 10px 0 0 10px;
}

#buttonSearch {
    width: 120px;
    height: 50px;
    color: #fff;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
/*Filtres*/
#filtre {
    display: Block;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.margFiltreTitre {
    margin-right: 20px;
}
.filtreTexteIcons {
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.filtreTexteIcons:hover > .filtreTexte {
    color: #0065FC;
}
.filtreTexteIcons:hover > .filtreIcons {
    color: white;
    background-color: #0065FC;
}
.filtreTexte {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}

.filtreIcons {
    margin-left: -2px;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065FC;
    background-color: #deebff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Info Icone*/
#info {
    display : flex;
    align-items: center;
}
.parentIcon {
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
}
/* fin Header */

/* Format des boites container des contenus*/

/* Bloc les Hebergements*/
.cubeHebergements {
    width: 90%;
    height: auto;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
    margin-bottom: 20px;
}
.cubeDetailsHebergements {
    width: 90%;
}

/* blocs les Populaires*/
.blocPopulaires {
    padding-left : 20px;
    padding-right : 20px;
}
.blocPopulaires12 {
    margin-bottom: 22px;

}
.cubePopulaires {
    background-color: white;
    height: auto;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
}
.cubeDetailsPopulaires {
    width: 60%;
    padding-left: 5%;
}
.flexPopulairesBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexActivitesContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

/* Blocs Activités */
h2 {
    margin-bottom: 20px;
    margin-top:20px;
}
#activitesBox {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
}
#blocActivites {
    width: 100%;
    padding: 5px;
    height: auto;
    margin-top: 20px;
}
.cubeActivites {
    width: 80%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.cubeActivites2356 {
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}
/*.blocActivites2356 {
    width: 23%;
    height: 600px;
}
*/
/* Fin de Format des Blocs container de Contenu */

/* Le footer */
.footContainer {
    bottom: 0;
    background-color: #f2f2f2;
    margin-top: 50px;
    height: 400px;
    padding: 20px;
  
}
.blocfoot ul {
    margin-bottom : 20px;
}

.blocfoot ul li {
    list-style: none;
    margin-top: 20px;
}
  
/* Format des Boites "Sections" contenant les container de Contenu */
#productBox, #populairesBox, #hebergementsBox, #activitesBox, #footBox {
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 2px black;
}
#blocActivites {
    
}
#blocA, #blocB {
    background-color: darkgray;
    margin-bottom: 50px;
    width: 98%;
    height:800px;
    padding: 20px;
    background-color: darkgray;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 2px black;
}

#footBox {
    margin-top : 20px;
}


