* { 
    margin:0;
    padding:0;
}
/* GENERAL */
/* Fonts Family, Caractère de Police */
/* Important de Fonts */
    @font-face {
        font-family: "raleway";
        src: url("./fonts/raleway/Raleway-Light.ttf") format("ttf");
        src: url("./fonts/raleway/Raleway-Bold.ttf") format("ttf");
        src: url("./fonts/raleway/Raleway-ExtraBold.ttf") format("ttf");
        src: url("./fonts/raleway/Raleway-Regular.ttf") format("ttf");
    }

/* Fonts dans Body */
html, body {
    font-family: raleway, 'Tangerine', Arial, 'Times New Roman', Helvetica, sans-serif;
}
/* format du contenu */

/*Herbergements Contenu & format du contenu */
#imgHebergements1 {
    background-image: url('./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg') ;
}

#imgHebergements2 {
    background-image: url('./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg') ;
}
#imgHebergements3 {
    background-image: url('./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg') ;
}
#imgHebergements4 {
    background-image: url('./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg') ;
}
#imgHebergements5 {
    background-image: url('./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg') ;
}
#imgHebergements6 {
    background-image: url('./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg') ;
}

.element-ImgHebergements {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}


/* Les plus populaires  Contenu & format du contenu */
#imgPopulaires1 {
    background-image: url('./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg') ;
}
#imgPopulaires2 {
    background-image: url('./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg') ;
}
#imgPopulaires3 {
    background-image: url('./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg') ;
}

.element-ImgPopulaires {
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}

/* Les Activités Contenu & format du contenu */
#imgActivites1 {
    background-image: url('./images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg') ;
}
#imgActivites2 {
    background-image: url('./images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg') ;
}
#imgActivites3 {
    background-image: url('./images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg') ;
}
#imgActivites4 {
    background-image: url('./images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg') ;
}
#imgActivites5 {
    background-image: url('./images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg') ;
}
#imgActivites6 {
    background-image: url('./images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg') ;
}

.element-ImgActivites {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}
.hauteurTitre {
    height: 70px;
}
.titreActivites {
    display : flex;
    justify-content : flex-start;
    align-items : center;
    padding-left : 5%;
    width : 95%;
}

/* fin format du contenu */

/* Couleurs */
.colorBleu {
    color: #0065fc;
}
.colorBleuClair {
    color: #deebff;
}
.colorGris {
    color: #f2f2f2;
}

.backBleu {
    background-color: #0065fc;
}
.backBleuClair {
    background-color: #deebff;
}
.backGris {
    background-color: #f2f2f2;
}
.colorLien2 {
    color: black;
}

$color: .colorBleu; 
/*Voir si possible instauration de 
variables, functions & mixins en css non-sass */

/*Le grand container principal
 & ses enfants directs */
 .container__main {
     width: 667px;
     height: 150vh;
     padding: 5px;


 }
 .container__hebergements {
     height: auto;
     width: auto;
     margin: 5px 5px;
     padding: 50px 5px;

 }
 .top-block__hebergements {
     height: auto;
     margin-bottom:5px;
     padding: 35px 5px;
 }
 .container__activites {
     width: 95%;
     padding: 10px;
 }
/* Block les plus Populaires, 
   mode Etiquetage */
.container__populaires {
    height:650px;
    width: auto;
    margin-bottom: 60px;
    padding: 5px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.block__label-populaires {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 15px 5px;
}

.block__label-populaires {
    background-color: white;
    height: auto;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
    margin: 5px;
}
.element-labelPopulaires {
    width: 60%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.element-labelPopulaires h3,
.element-labelPopulaires p,
.element-labelPopulaires div {
   margin-bottom: 20px;
}

/* Block Hebergements, 
   mode etiquetage*/
   .block__label-hebergements {
    width: 95%;
    height: auto;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
   }
   .element-labelHebergements {
    width: 90%;
    margin-top: 10px;
    padding-left: 5%;
   }
   .element-labelHebergements h3, 
   .element-labelHebergements p, 
   .element-labelHebergements div {
    margin: 5px;
}

/* Block Activites, 
   mode etiquetage*/
   .block__labelActivites2356, 
   .block__labelActivites {
    width: 95%;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}

  .element-labelActivites {
    width: 95%;
    padding-top: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2; 
  }
  .element-sizeTitreActivites {
      height: 50px;
      margin-left: 10px;
      border-radius: 15px;
      display: flex;
      align-items: center;
  }

/* le footer */
.Container__down {
    height: 50vh;
    margin-top: 20px;
    padding: 20px;
    background-color: #f2f2f2;
}
ul li {
    list-style: none;
}
