/* phase 1 : mode statics*/


* { margin : 0;
    padding : 0;
    position : relative;
}

body {
    color : black;

}


/* modalité container - Manipulation des fameuses Boites*/
/* Boites à entête, Nav, SearchBar, Filtres*/
header {
    width: 100%;
    display: flex;
    align-items : center;
    justify-content : space-between;

}

.Up_Container {
    width: 150px;
    background-color: darkgray;
    margin: 20px;
    margin-left: 0;
    padding: 5px;
    display: flex;
    top: 0;
    left: 0;

}

.ancre {
    width: 30%;
    background-color: lightgray;
    display: flex;
    justify-content : flex-end;
    flex-direction: row;
    top: 0;
    right: 0;
    margin-right : 0;
}

#NavHeb, #NavAct, #NavForm {
    width: 30%;
    padding: 10px;
    display : flex;
    align-self: space-between;
    flex-direction: row;
    margin: 10px;
}

.SearchBar {
    width: 100%;
    display: flex;
    padding : 10px;
    margin-top : 20px;
    margin-bottom : 20px;

}
#Recherche {
    width :20%;
    height : auto;
    padding: 0px;
    margin-top : 10px;
    display : flex;
    flex-direction: row;
    align-self: space-between;
}

#IconMaps, #BarRecherche, #BoutonRecherche {
    display : flex;
    flex-direction : row;
    align-self: space-between;
}

.zoneRecherche {
    width : 90%;
    height : 40%;
    display : flex;
    flex-wrap: wrap;
    flex-direction : row;
}

#Choices {
    width: 100%;
    display: flex;
    align-items : center;
    justify-content : center;
}

.filter {
    width : 100%;
    margin: 10px;
    padding : 10px;
    display : flex;
    flex-direction : row;
    align-self: space-around;
}




/* Boites Gallery Images, pour les hébergements*/
.Hébergements{
    width:70%;
    height:auto;
    background-color:#F2F2F2;
    border-radius: 5px;
    display: flex;
    flex-direction : row;
    flex-wrap: wrap;
    justify-content: space-between;
    left: 0;
    padding : 20px;
    margin-right:60px;
    margin-bottom : 20px;


}

#Popular{
    width:30%;
    height:400px;
    background-color: lightblack;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    right: 0;
    margin-left: 20px;
    margin-right: 0px;

}

#activity {
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    flex-flow: row;
    margin-top: 20px;
    margin-bottom : 20px;

}

/* boites Footer*/

#Down_Container {
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    bottom: 0;
    margin-top: 20px;
}

footer {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-flow: row;
    align-items: center;
    padding : 10px;
    margin: 120px;
}
/* Redimmensionnement Tailles Images*/
.Pop_Photo {
    width: 30%;
    height: auto;
}

.Catégo_photo {
    width : 30%;
    height: auto;
}
.Place_Photo {
    width: 60%;
    height: auto;
}

/* Corrections Boites*/

.Description {
    order : 2;
}

.Row_Container {
    display: flex;
    flex-flow : row;
    align-items: space-between;
}

#Row_Container4 {
    display : flex;
    flex-flow : column;
}

/*Styles & applications Puce=None, Hover sur liens & Images */

ul {
    list-style-type: none;
}


a:hover {
    transition: all 5s;
}

/* Formatage du texte*/

.introduction {
    font-size: 1rem;
    margin-bottom : 10px;
}


